<template name="_user">
  <div class="profile-img">
    <div class="defer-image image-ratio:1x1 image-fill">
      <div data-src="http://lorempixel.com/300/300/people" data-alt="A lovely kitten"></div>
    </div>
    <!-- <h1>{{ currentUser.profile.first_name }}</h1> -->
    <h4>Stephanie, 21</h4>
  </div>
</template>

<template name="Profile">
  <div class="profile">
    {{> _user}}
    <!-- {{ currentUser.profile.bio }} -->
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</template>
