/*****************************************************************************/
/* Menu: Style */
/*****************************************************************************/
@import "{poetic:materialize-scss}/bower_components/materialize/sass/components/_color.scss";
@import "{poetic:materialize-scss}/bower_components/materialize/sass/components/_variables.scss";

nav.menu {
  padding: 0 10px;

  i {
    line-height: 1.4;
    height: $navbar-height-mobile;
    font-size: 2.7rem !important;
  }

  h1.nav-title.brand-logo {
    margin: 0;
    line-height: $navbar-height-mobile;
  }

  a.edit-profile {
    float: right;
    opacity: 0.6;
  }
}
